header {
  padding: 10px;
  background-color: #673AB7;
  border: none;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.15);
}

header a {
  color: white;
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
}